<%# <div class="container"> %>
  <%# <div class="row mt-5"> %>
    <%# <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4"> %>
      <div class="banner_homepage">
        <h1> Famille de Planche </h1>

        <% if user_signed_in? %>
          <p> Bonjour <%= current_user.nickname =%></p>
        <% end %>
      </div>

        <div class="container">
          <div class="div">
            <% @familles.each do |famille| %>
              <div class="card_category">
                <h2><%= link_to famille.name, famille_items_path(famille) %></h2>
                <p><%= famille.info %></p>
                <%= link_to 'Modifier', edit_famille_path(famille) %>
                <%= link_to 'Supprimer', famille_path(famille), method: :delete, data: {confirm: "tu es sure?"} %>
              </div>
            <% end %>
          </div>
        </div>
<h2><%= link_to'Création', new_famille_path %></h2>
