
<div class="c:ontainer">
  <%# <div class="row mt-5"> %>
    <%# <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4"> %>
      <%# <div class="banner_homepage"> %>
      <%# </div> %>
        <div class="banner">
          <h1> Famille de Planche </h1>
            <% if user_signed_in? %>
              <p>
                <span>&#129305;</span>
                  Bonjour
                <%= current_user.nickname.capitalize %>
                <span>&#129305;</span>
              </p>
            <% end %>
        </div>
<%# <div class="box-card">
</div> %>
<div class="container-test">

<!-- app/views/familles/index.html.erb -->
<div id="temperature"></div>

  <% if policy(Famille).create? %>
    <div class="bouton-admin">
    <%= link_to 'Ajouter une Famille' , new_famille_path %>
  <% end %>
</div>

          <div class="container-card-famille">
            <% @familles.each do |famille| %>
              <div class="card-famille-index">

                <div class= "img-index-famille">
                  <%= link_to famille_items_path(famille) do %>
                  <% if famille.photo_famille.attached? %>
                    <%= cl_image_tag famille.photo_famille.key, crop: :fill %>
                  <% else %>
                    <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
                </div>
                  <% end %>
            <% end %>

                <div class="titre-index-famille">
                  <h2><%= famille.name.capitalize %></h2>
                </div>
                <div class="container-btn">
                  <% if famille.user == current_user %>
                    <div class="bouton-user-famille">
                      <% if policy(famille).update? %>
                        <td><%= link_to 'edite', edit_famille_path(famille) %></td>
                      <% end %>
                    </div>
                    <% if policy(famille).destroy? %>
                      <div class="bouton-user-famille">
                        <td><%= link_to 'supp', famille_path(famille), method: :delete, data: {confirm: "tu es sure?"} %></td>
                      </div>
                    <% end %>
                  <% end %>
                </div>
          </div>
</div>
                  <%# </div> %>

<%# <div class="box-titre-btn"> %>
            <%# <div class="titre-index-famille"> %>
              <%# <h2><%= famille.name.capitalize %></h2>
            <%# </div> %>



<%# </div> %>

              <%# <div> %>
                <%# <%= link_to 'Modifier', edit_famille_path(famille) %>
                <%# <%= link_to 'Supprimer', famille_path(famille), method: :delete, data: {confirm: "tu es sure?"} %>
              <%# </div> %>
            <% end %>
            </div>
</div>
          </div>


    <div class="container_filtre_index_familles">

    <div class="filtre_choix_famille_index_familles">
      <%= simple_form_for :filter, url: familles_path, method: :get do |f| %>
        <div class="form-check">
          <%= f.input :familles,
                      collection: Famille.all.map { |famille| [famille.name, famille.id] },
                      as: :check_boxes
          %>
        </div>
    </div>

  <div class="filtre_choix_prix_index_familles">
    <div class="form-group">
      <%= f.label :min_price, "Prix minimum" %>
      <%= f.input :min_price, as: :numeric, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :max_price, "Prix maximum" %>
      <%= f.input :max_price, as: :numeric, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="filtre_choix_taille_index_familles">
      <!-- Champ de filtre pour la taille minimale -->
    <%= f.input :min_size, label: "Taille minimale" %>

    <!-- Champ de filtre pour la taille maximale -->
    <%= f.input :max_size, label: "Taille maximale" %>

    <%= f.button :submit, "Filter", class: "btn btn-primary" %>
    <% end %>

      <%= link_to 'Réinitialiser' , familles_path , class: "btn btn-primary"%>
  </div>
</div>

  <div class="container">


      <div class="container_recommandation_index_familles">
        <% @familles.each do |famille| %>
              <div class="titre_recommandation_index_familles">
          <h2><%= famille.name %></h2>
      </div>

            <% famille.items.each do |item| %>
          <div class="card_recommandation_index_familles">
              <div class="img_card_recommandation_index_familles">
                <%= link_to famille_item_path(famille, item), class: "card-link" do %>
                <% if item.photo_1.attached? %>
                  <%= cl_image_tag item.photo_1.key, class:"card-item-img" %>
                <% else %>
                  <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="photo">
                <% end %>
              </div>
            <% end %>

            <div class="info_card_recommandation_index_familles">
              <h6><%= item.created_at.strftime("%d/%m/%Y") %></h6>
              <h6><%= item.name %></h6>
              <h6><%= item.taille %></h6>
              <h6><%= item.price %>€</h6>
            </div>
        </div>
            <% end %>
        <% end %>
      </div>
</div>
