<h2>Ajoute la famille</h2>

<div class="card-new">
  <ul style="list-style-type:none; padding-left:38%; margin-bottom:0px;">

    <%= form_for @famille do |f| %>

      <%= f.label :name, "Entre un nom" %>
      <%= f.text_field :name %>

      <%= f.label :info, "Entre les infos" %>
      <%= f.text_area :info %>

      <%= f.submit :Création %>

    <% end %>

  </ul>
</div>
    <%= link_to'Retour', familles_path %>
