<h2>Ajoute la famille</h2>

<div class="card-new-famille">
  <ul style="list-style-type:none; padding-left:38%; margin-bottom:0px;">

    <%= form_for @famille do |f| %>

      <%= f.label :name, "Entre un nom" %>
      <%= f.text_field :name %>

      <%= f.label :info, "Entre les infos" %>
      <%= f.text_area :info %>

    <%= f.file_field :photo_famille, onchange: "previewImage(this);" %>

      <%= f.submit :Création %>

    <% end %>

<img id="photo-famille-preview" src="#" alt="Aperçu de l'image" style="display:none; max-width: 100%; max-height: 200px;" />


<script type="text/javascript">
  function previewImage(input) {
    var preview = document.getElementById('photo-famille-preview');
    preview.style.display = 'block';

    var reader = new FileReader();

    reader.onload = function (e) {
      preview.src = e.target.result;
    };

    reader.readAsDataURL(input.files[0]);
  }
</script>



  </ul>
</div>

  <div class="bouton-add">
    <%= link_to'Retour', familles_path %>
  </div>
