<h1>Modification de ton profil</h1>

    <%= form_for @profil do |f| %>

      <%= f.label :nom, "Entre ton nom" %>
      <%= f.text_field :nom %>

      <%= f.label :prenom, "Entre ton prenoms" %>
      <%= f.text_field :prenom %>

      <%= f.label :email, "Entre ton emails" %>
      <%= f.text_field :email %>

      <%= f.label :age, "Entre ton age" %>
      <%= f.text_field :age %>

      <%= f.file_field :img_profil %>

      <%= f.submit :Création %>

    <% end %>

  <div class="bouton-add">
    <%= link_to'Retour', profil_path %>
  </div>
