<h1>Modification de ton profil</h1>

    <%= form_for @profil do |f| %>

      <%= f.label :nom, "Entre ton nom" %>
      <%= f.text_field :nom %>

      <%= f.label :prenom, "Entre ton prenoms" %>
      <%= f.text_field :prenom %>

      <%= f.label :email, "Entre ton emails" %>
      <%= f.text_field :email %>

      <%= f.label :age, "Entre ton age" %>
      <%= f.text_field :age %>

    <div class="container">
      <%= f.label :date_naissance, "Date de naissance" %>
      <%= f.date_select :date_naissance, {  order: [:day, :month, :year], start_year: Date.current.year - 100, end_year: Date.current.year, use_month_numbers: true }, { class: "form-control" } %>
    </div>

      <%= f.file_field :img_profil %>

      <%= f.submit :Création %>

    <% end %>

  <div class="bouton-add">
    <%= link_to'Retour', profil_path %>
  </div>
