<h1>Bonjour c'est l'index des profils
  <%= current_user.nickname.capitalize %>
  <%= current_user.email %>
  <%= current_user.password %>

<% @profils.each do |profil| %>
  <div>
    <!-- Autres informations du profil -->

    <% if profil.user && profil.user.img_user.attached? %>
      <%= cl_image_tag profil.user.img_user.key, class: "profil-img" %>
    <% else %>
      <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="photo">
    <% end %>
  </div>
<% end %>
      <%# <%= image_tag profil.user.img_user, class: "profil-img" %> %>
</h1>

  <% @profils.each do |profil| %>
          <ul>

            <h2><%= profil.nom %></h2>
            <h2><%= profil.prenom %></h2>
            <h2><%= profil.email %></h2>

          </ul>

          <%= link_to "Ton profil", profil_path(profil) %>
          <%= link_to "Modifie ton profil", edit_profil_path(profil) %>

          <td><%= link_to 'supprime ton profil', profil_path(profil), method: :delete, data: {confirm: "tu es sure?"} %></td>

  <% end %>

<div class="bouton-admin">
  <%= link_to "Retouche ton profil", new_profil_path %>
</div>
