<h1>Ton Profil</h1>

          <%# <ul> %>
            <%# <h1><%= @profil.img_profil %></h1> %>
            <%# <h1><%= @profil.nom.capitalize %></h1> %>
            <%# <h2><%= @profil.prenom.capitalize %></h2> %>
            <%# <h3><%= @profil.age %></h3> %>
            <%# <h3><%= @profil.email %></h3> %>
          <%# </ul> %>

  <div class="bouton-add">
    <%= link_to'Retour', profils_path %>
  </div>
