
  <%# <div class="bouton-add">
    <%= link_to'Home', familles_path %>
  <%# </div> %>

<div class="container">

  <div class= "titre_show_profil">
    <h1>Ton Profil</h1>
  </div>

  <div class="profil_user">
    <div class="profil_info_user">
      <ul>
        <% if user_signed_in? && @profil.present? %>
          <% if @profil.img_profil.attached? %>
            <%= cl_image_tag(@profil.img_profil.key, class: "profil_avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% else %>
            <%= image_tag("https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png", class: "profil_avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
        <% end %>

      <h6>Pseudo :</h6> <h2><%= @user.nickname %></h2>
      <h6><h6><h6>Email : </h6><h2><%= @user.email %></h2>
    </div>
    <div class="profil_info_profil">
      <h6>Nom : </h6><h2><%= @profil.nom.capitalize %></h2>
      <h6>Prenom :</h6> <h2><%= @profil.prenom.capitalize %></h2>
      <h6>Date de naissance :</h6><h2> <%= @profil.date_naissance.strftime('%d/%m/%Y') %></h2>
      <h6>Date de création du profil :</h6><h2><%= @profil.created_at.strftime("%d/%m/%Y") %></h2>
      </ul>
    </div>
  </div>

<h1>Mes Planches en Vente</h1>
<div class="profil_items">
  <% if @items.any? %>

    <% @items.order(created_at: :desc).each do |item| %>
      <div class="card_profil_items">
        <div class="container_img_info_card_show_profil">
          <div class="img_card_show_profil">
                          <%= link_to famille_item_path(item.famille_id, item), class: "card-link" do %>
          <% if item.photo_1.attached? %>
            <%= image_tag item.photo_1, class: "card-item-img" %>
          <% else %>
            <img class="img_profil_item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
          <% end %>
                      <% end %>

          </div>

          <div class="info_card_show_profil">
            <h5><%= item.marque.capitalize %></h5>
            <h6><%= item.price %>€</h6>
            <h6><%= item.taille %></h6>
        <p><%= item.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        <div class="btn_card_profil_items">
          <%# <%= button_to 'Apercu', famille_item_path(item.famille_id, item) %>
          <%# <%= button_to'Modifier', edit_item_path(item) %>
          <%= button_to "Modifier", edit_item_path(item), method: :get %>

          <%# <%= button_to 'Modifier', edit_famille_item_path(item.famille_id, item) %>
          <%= button_to "Supprimer", item_path(item), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet item ?" } %>
        </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucune planche mise en vente</p>
  <% end %>
</div>



  </div>
</div>
</div>
