
  <div class="bouton-add">
    <%= link_to'Home', familles_path %>
  </div>

<div class="container">
<h1>Ton Profil</h1>

  <ul>

      <% if user_signed_in? && @profil.present? %>
        <% if @profil.img_profil.attached? %>
          <%= cl_image_tag(@profil.img_profil.key, class: "profil_avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
        <% else %>
          <%= image_tag("https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png", class: "profil_avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
        <% end %>
      <% end %>

    <%# <%= cl_image_tag @profil.img_profil.key, class: "profil_avatar", gravity: :face %>
    <h2>Pseudo : <%= @user.nickname %></h2>
    <h2>Email : <%= @user.email %></h2>
    <h2>Nom : <%= @profil.nom.capitalize %></h2>
    <h2>Prenom : <%= @profil.prenom.capitalize %></h2>
    <h2>Date de naissance : <%= @profil.date_naissance.strftime('%d/%m/%Y') %></h2>
    <h2>Date de création du profil :<%= @profil.created_at.strftime("%d/%m/%Y") %></h2>
  </ul>

<h1>Mes Planches en Vente</h1>
    <% @items.each do |item| %>
      <ul style="list-style-type:none; padding-left:0px; margin-bottom:0px;">
      <h1><%= item.marque.capitalize %></h1>
      <h2><%= item.taille %></h2>
      <h3><%= item.price%>€</h3>
      <p>Mise en ligne le :<%= item.created_at.strftime("%d/%m/%Y") %></p>
      <%= link_to 'Appercu', famille_item_path(item.famille_id, item) %>
      <%= link_to 'Modifier', edit_famille_item_path(item.famille_id, item) %>
      <%= button_to "Supprimer", item_path(item), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet item ?" }, class: "btn btn-danger" %>
    </ul>
    <% end %>
  </div>
</div>
</div>
