<h2>Modife ta Planche</h2>

  <%= form_for [@famille, @item] do |f| %>

    <%= f.label :marque, " 1 - " %>
    <%= f.text_field :marque,  placeholder: "La marque" %>

    <%= f.label :name, " 2 - " %>
    <%= f.text_field :name, placeholder: "Le nom" %>

    <%= f.label :taille, " 3 - " %>
    <%= f.text_field :taille,  placeholder: "La taille (pouce)" %>

    <%= f.label :price, " 4 - " %>
    <%= f.number_field :price, placeholder: "Le prix en €" %>

    <%= f.label :url_image, " 5 - " %>
    <%= f.file_field :url_image, accept: 'image/png,image/jpeg' %>

    <%= f.label :url_img2, " 6 - " %>
    <%= f.text_field :url_img2,  placeholder: "Le lien de l'image n°2" %>

    <%= f.label :url_img3, " 7 - " %>
    <%= f.text_field :url_img3,  placeholder: "Le lien de l'image n°3" %>

    <%= f.label :url_achat, " 8 - " %>
    <%= f.text_field :url_achat,  placeholder: "Le lien d'achat" %>

    <%= f.label :detail, " 9 - " %>
    <%= f.text_field :detail,  placeholder: "La description" %>

    <%= f.submit :Modification, data: {confirm: "Valider les modifs"}  %>

  <% end %>

<%= link_to'Retour', famille_items_path %>
