<h2>Modife ta Planche</h2>

<div class="card-new">
  <ul style="list-style-type:none; padding-left:38%; margin-bottom:0px;">

    <%= form_for [@famille, @item] do |f| %>

      <div class="card-grid-01">
        <li>
          <%= f.label :marque, " 1 - " %>
          <%= f.text_field :marque,  placeholder: "La marque" %>
        </li>
        <li>
          <%= f.label :name, " 2 - " %>
          <%= f.text_field :name, placeholder: "Le nom" %>
        </li>

        <li>
          <%= f.label :taille, " 3 - " %>
          <%= f.text_field :taille, placeholder: "La taille (pouce)" %>
        </li>

        <li>
          <%= f.label :price, " 4 - " %>
          <%= f.number_field :price, placeholder: "Le prix en €" %>
        </li>
      </div>
      </ul>

      <ul>
        <%= f.label :detail, " 5 - " %>
        <%= f.text_area :detail, placeholder: "La description" %>
      </ul>

      <ul style="list-style-type:none">
        <li>
          <%= f.file_field :photo_1 %>
        </li>

        <li>
          <%= f.file_field :photo_2 %>
        </li>

        <li>
          <%= f.file_field :photo_3 %>
        </li>

      </ul>
        <%= f.submit :Creation, data: {confirm: "Valide ta planche"} %>
    <% end %>
  </ul>
</div>
    <%= link_to'Retour', famille_items_path %>
