
<div class="container">
<%#   <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4"> %>
  <div class="banner">
    <h1>Les Planches</h1>
  </div>

  <div class='card-titre'>
    <h2> <%= @famille.name.capitalize %> </h2>
    <h5> <%= @famille.info.capitalize %> </h5>

    <%= link_to 'Famille de Planche/', familles_path %>

    <% if policy(Item).new? %>
      <div class="bouton-add-item">
        <h3><%= link_to'Ajout ta Planche', new_famille_item_path %></h3>
      </div>
    <% end %>
  </div>

  <div class="card-store">

      <% @items.each do |item| %>
        <div class="card-index">
          <%=link_to 'profil', profils_path(item) %>

          <%= link_to famille_item_path(@famille, item) do %>
            <% if item.photo_1.attached? %>
              <%= cl_image_tag item.photo_1.key, class:"card-index-img" %>
            <% else %>
              <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="photo">
            <% end %>
          <% end %>

          <ul class="info-index-item">
            <li>Marque :<%= item.marque.capitalize %></li>
            <li>Taille :<%= item.taille %></li>
            <li>Prix :<%= item.price %>€</li>
          </ul>

          <% if policy(item).update? %>
            <div class="bouton-user-item">
              <%= link_to 'Modifier', edit_famille_item_path(@famille, item) %>
            </div>
          <% end %>

          <% if policy(item).destroy? %>
            <div class="bouton-user-item">
              <%= link_to 'Supprimer', famille_item_path(@famille, item), method: :delete, data: {confirm: "tu es sure?"} %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>

</div>
