
<div class="container">
  <div class= "titre_index_items">
    <h1>Les Planches</h1>
  </div>



  <div class='description_index_items'>
    <h2> <%= @famille.name.capitalize %> </h2>
    <h5> <%= @famille.info.capitalize %> </h5>

    <%= link_to 'Famille de Planche/', familles_path %>

    <% if policy(Item).new? %>
      <div class="bouton-add-item">
        <h3><%= link_to'Ajout ta Planche', new_famille_item_path %></h3>
      </div>
    <% end %>
  </div>

  <div class="container_recommandation_index_items">
    <% @items.order(created_at: :desc).each do |item| %>
    <div class="card_recommandation_index_items">
      <div class="img_card_recommandation_index_items">
        <%= link_to famille_item_path(@famille, item) do %>
          <% if item.photo_1.attached? %>
            <%= cl_image_tag item.photo_1.key, class:"card-item-img" %>
          <% else %>
            <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="photo">
          <% end %>
          <% end %>
      </div>

      <div class="info_card_recommandation_index_items">
          <h5><%= item.marque.capitalize %></h5>
          <h6><%= item.taille %></h6>
          <h6><%= item.price %>€</h6>
          <p><%= item.created_at.strftime("%d/%m/%Y")%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
          <%# <% if policy(item).update? %
            <%# <div class="bouton-user-item"> %>
              <%# <%= link_to 'Modifier', edit_famille_item_path(@famille, item) %>
            <%# </div> %>
          <%# <% end %>

          <%# <% if policy(item).destroy? %>
            <%# <div class="bouton-user-item"> %>
              <%# <%= link_to 'Supprimer', famille_item_path(@famille, item), method: :delete, data: {confirm: "tu es sure?"} %>
            <%# </div> %>
          <%# <% end %>
