
<h2>Ajoute ta Planche</h2>
<%# <div class="card-new-item"> %>
  <%# <ul style="list-style-type:none; padding-left:38%; margin-bottom:0px;"> %>

    <%= form_for [@famille, @item] do |f| %>

      <div class = "container-new-item">
        <div class="card-grid-01">
          <ul style="list-style-type:none">
              <li>
                <%= f.label :address, " 1 / " %>
                <%= f.text_field :address,  placeholder: "Ton adresse?" %>
              </li>

              <li>
                <%= f.label :marque, " 2 / " %>
                <%= f.text_field :marque,  placeholder: "La marque" %>
              </li>

              <li>
                <%= f.label :name, " 3 / " %>
                <%= f.text_field :name, placeholder: "Le nom" %>
              </li>

              <li>
                <%= f.label :taille, " 4 / " %>
                <%= f.text_field :taille, placeholder: "La taille (pouce)" %>
              </li>

              <li>
                <%= f.label :price, " 5 / " %>
                <%= f.number_field :price, placeholder: "Le prix en €" %>
              </li>
          </ul>
        </div>

        <div class="card-grid-02">
          <ul style="list-style-type:none">
              <li>
                <%= f.label :detail, "6 / " %>
                <%= f.text_area :detail, placeholder: "La description" %>
              </li>
          </ul>
        </div>

        <div class="card-grid-03">
          <ul style="list-style-type:none">
              <li>
                <%= f.file_field :photo_1 %>
              </li>

              <li>
                <%= f.file_field :photo_2 %>
              </li>

              <li>
                <%= f.file_field :photo_3 %>
              </li>
      <%= f.submit :Création, data: {confirm: "Valide ta planche"} %>
          </ul>
        </div>
      </div>

    <% end %>

  <%# </ul> %>


<%# </div> %>
    <%= link_to'Retour', famille_items_path %>
