<h2>Ajoute ta Planche</h2>

<%# <form action="/familles/:famille_id/items" method="post">
  <input type="text" name="item [name]">
  <input type="number" name="item [price]">
  <input type="submit" value="Creation">

</form> %>

  <%= form_for [@famille, @item] do |f| %>

    <%= f.label :name, " 1 - " %>
    <%= f.text_field :name, placeholder: "Entre un nom" %>

    <%= f.label :price, " 2 - " %>
    <%= f.number_field :price, placeholder: "Entre un prix en €" %>

    <%= f.label :url_image, " 3 - " %>
    <%= f.text_field :url_image,  placeholder: "Entre le lien de l'image" %>

    <%= f.label :url_achat, " 4 - " %>
    <%= f.text_field :url_achat,  placeholder: "Entre le lien d'achat" %>

    <%= f.label :marque, " 6 - " %>
    <%= f.text_field :marque,  placeholder: "Entre la marque" %>

    <%= f.submit :Création %>

  <% end %>

<%= link_to'Retour', famille_items_path %>
