<div class=container>

  <div class= "titre_new_item">
    <h1>Ajoute ta Planche</h1>
  </div>

  <div class="container_new_item">
    <%= form_for [@famille, @item] do |f| %>

      <div class= "titre_secondaire_new_item">
        <h2>Ajoute tes photos</h2>
      </div>

        <div class="container_img_new_item">
              <div class="input_img_new_item">
                <%= f.file_field :photo_1, onchange: "previewImage(this, 'preview-1');" %>
                  <div class="preview_img_new_item">
                    <img id="preview-1" src="#" alt="Aperçu de l'image 1" style="display:none; max-width: 100%; max-height: 200px;border-radius: 10px;" />
                  </div>
              </div>

                <div class="input_img_new_item">
                <%= f.file_field :photo_2, onchange: "previewImage(this, 'preview-2');" %>
                  <div class="preview_img_new_item">
                    <img id="preview-2" src="#" alt="Aperçu de l'image 2" style="display:none; max-width: 100%; max-height: 200px;border-radius: 10px;" />
                  </div>
                </div>

                <div class="input_img_new_item">
                <%= f.file_field :photo_3, onchange: "previewImage(this, 'preview-3');" %>
                  <div class="preview_img_new_item">
                    <img id="preview-3" src="#" alt="Aperçu de l'image 3" style="display:none; max-width: 100%; max-height: 200px;border-radius: 10px;" />
                  </div>
                </div>

        <script type="text/javascript">
          function previewImage(input, previewId) {
            var preview = document.getElementById(previewId);
            preview.style.display = 'block';

            var reader = new FileReader();

            reader.onload = function (e) {
              preview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
          }
        </script>
        </div>

      <div class= "titre_secondaire_new_item">
        <h2>Ajoute les infos de la planche</h2>
      </div>

        <div class="info_new_item">
          <ul style="list-style-type:none">

              <div class="field">
                <%= f.label :famille_id, "Choisi ton type de Planche*" %>
                <%= f.collection_select :famille_id, @familles, :id, :name, prompt: "Choisissez une famille" %>
              </div>

              <li>
                <%= f.label :address, " 1 / " %>
                <%= f.text_field :address,  placeholder: "Ton adresse?" %>
              </li>

              <li>
                <%= f.label :marque, " 2 / " %>
                <%= f.text_field :marque,  placeholder: "La marque" %>
              </li>

              <li>
                <%= f.label :name, " 3 / " %>
                <%= f.text_field :name, placeholder: "Le nom" %>

              </li>

              <li>
                <%= f.label :taille, " 4 / " %>
                <%= f.text_field :taille, placeholder: "La taille (pouce)" %>
              </li>

              <li>
                <%= f.label :price, " 5 / " %>
                <%= f.number_field :price, placeholder: "Le prix en €" %>
              </li>
          </ul>
        </div>

      <div class= "titre_secondaire_new_item">
        <h2>Description de ta planche</h2>
      </div>
        <div class="description_new_item">
          <%# <ul style="list-style-type:none"> %>
              <%# <li> %>
              <div class="input_description_new_item">
                <%= f.text_area :detail, placeholder: "La description" %>
              </div>
              <%# </li> %>

          </ul>
        </div>
              <%= f.submit :Création, data: {confirm: "Valide ta planche"} %>
        </div>
        </div>


      </div>

    <% end %>


      </div>
  </ul>

    <%= link_to'Retour', familles_path %>

</div>
