<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">

  <h1>Ta Planche</h1>
    <h2><%= @item.marque %></h2>
    <h2><%= @item.name %></h2>
    <h2><%= @item.taille %></h2>
    <h2><%= @item.price %>€</h2>
    <img src="<%= @item.url_image %>", width="500" , height="400">
    <a href="<%= @item.url_achat %>" target="_blank">ACHAT</a>
    <%= link_to'retour', famille_items_path %>
