<head google_webfonts_init(config hash)>
</head>

<body class="body">

  <div class="container">
  <%#   <div class="row mt-5">
      <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4"> %>
    <div class="banner">
      <h1>Ta Planche</h1>

      <div class="banner-choix">
        <%= link_to 'Famille de Planche/', familles_path %>
        <%= link_to 'Tes Planches/', famille_items_path %>

      </div>
    </div>

    <div class="profile">

    </div>


    <div class="card-grid">

      <%# <div class="card-img"> %>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @item.photo_1.key, alt: "photo n°1", class:"card-item-img"%>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @item.photo_2.key, alt: "photo n°2", class:"card-item-img"%>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @item.photo_3.key, alt: "photo n°3", class:"card-item-img"%>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="width: 45%";>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      <div class="card-achat">
        <h1><%= @item.marque.capitalize %></h2>
        <h2><%= @item.name.capitalize %></h2>
        <h2><%= @item.taille %></h2>
        <h3><%= @item.price %>€</h2>
        <h4><%= @item.detail %></h2>
        <h4><%= @item.matiere %></h2>
      </div>
      <%# </div> %>
  </div>

    <div class="card-user">
      <h2>Planche en mise en vente par : <%= @item.user.nickname %></h2>
    </div>



<h2>Recommandation <%= @famille.name %> </h2>

<div class="card-grid">
  <% @items.sample(4).each do |item| %>
    <div class="card-recommandation">
      <div>
        <ul style="list-style-type:none; padding-left:0px; margin-bottom:0px;">
          <li><%= item.marque.capitalize %></li>
          <li><%= item.taille %></li>
          <li><%= item.price %>€</li>
        </ul>
      </div>

      <div>
          <%= link_to famille_item_path(@famille, item) do %>
            <%= cl_image_tag item.photo_1.key, class:"card-index-img" %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

</body>
