<div class="container">
<%#   <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4"> %>

  <h1>Ta Planche</h1>
      <%= link_to 'Famille de Planche/', familles_path %>
      <%= link_to 'Tes Planches/', famille_items_path %>

    <div class="card-item">
      <h2><%= @item.marque %></h2>
      <h2><%= @item.name %></h2>
      <h2><%= @item.taille %></h2>
      <h2><%= @item.price %>€</h2>
        <%# <div class="card-img"> %>
          <%# <img class="card-img" src="<%= @item.url_image %>
        <%# </div> %>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= @item.url_image %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= @item.url_img2 %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= @item.url_img3 %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


        <a href="<%= @item.url_achat %>" target="_blank">ACHAT</a>
    </div>
