
  <div class="container">
    <div class="row">

    <div class="banner">
      <div class= "titre_show_item">
        <h1>Ta Planche</h1>
      </div>

      <%# <div class="banner-choix"> %>
        <%# <%= link_to 'Famille de Planche/', familles_path %>
        <%# <%= link_to 'Tes Planches/', famille_items_path %>
      <%# </div> %>
    </div>


    <div class="card-grid">

      <%# <div class="card-img"> %>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if @item.photo_1.attached? %>
                <%= cl_image_tag @item.photo_1.key, alt: "photo n°1", class:"card-item-img"%>
              <% else %>
                <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
              <% end %>
            </div>

            <div class="carousel-item">
              <% if @item.photo_2.attached? %>
                <%= cl_image_tag @item.photo_2.key, alt: "photo n°2", class:"card-item-img"%>
              <% else %>
                <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
              <% end %>
            </div>


            <div class="carousel-item">
              <% if @item.photo_3.attached? %>
                <%= cl_image_tag @item.photo_3.key, alt: "photo n°3", class:"card-item-img"%>
              <% else %>
                <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
              <% end %>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      <div class="card-achat">
        <p>Mise en ligne le : <h4><%= @item.created_at.strftime("%d/%m/%Y") %></h4>
        <h6>Marque :</h6> <h3><%= @item.marque.capitalize %></h3>
        <h6>Nom :</h6> <h3><%= @item.name.capitalize %></h3>
        <h6>Taille :</h6> <h3><%= @item.taille %></h3>
        <h6>Prix :</h6> <h3><%= @item.price %>€</h3>
        <h6>Description :</h6> <h5><%= @item.detail %></h5>
        <%# <h4><%= @item.matiere</h4> %>
      </div>
    </div>

    <div class="container_ligne_paragraphe">
      <div class="ligne_paragraphe">
      </div>
    </div>

<div class="container_profil_achat_show_item">
  <div class="profil_info_show_item">
    <div class="titre_profil_info_show_item">
      <h2>Infos sur le vendeur :</h2>
    </div>
    <div class="container_profil_info_show_item">
      <div class="avatar_profil_info_show_item">
        <% if @item.user.present? && @item.user.profil.present? %>
          <% if @item.user.profil.img_profil.attached? %>
            <%= link_to profil_path(@item.user.profil), class: "avatar-link" do %>
              <%= cl_image_tag(@item.user.profil.img_profil.key, class: "avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;   border: solid black; border-radius: 50%;") %>
            <% end %>
          <% else %>
            <%= link_to profil_path(@item.user.profil), class: "avatar-link" do %>
              <%= image_tag("https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png", class: "avatar rounded-circle", style: "object-fit: cover; width: 200px; height: 200px;") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="info_profil_info_show_item">
        <h6>Pseudo :</h6> <h5><%= @item.user.nickname%></h5>
        <h6>Email : </h6><h5><%= @item.user.email%></h5>
      </div>
    </div>
  </div>


      <div class="profil_map_show_item">
        <h2>L'ocalisation de la planche :</h2>
        <%# <%= @item.address%>
        <div
          style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          >
        </div>
      </div>
    </div>

    <div class="container_ligne_paragraphe">
      <div class="ligne_paragraphe">
      </div>
    </div>

    <div class="titre_recommandation_show_item">
      <h2>Recommandation de <%= @famille.name %> </h2>
    </div>

    <div class="container_recommandation_show_item">
      <% @famille.items.sample(8).each do |item| %>
        <div class="card_recommandation_show_item">
          <div class="img_card_recommandation_show_item">
            <%= link_to famille_item_path(@famille, item) do %>
              <% if item.photo_1.attached? %>
                <%= cl_image_tag item.photo_1.key, alt: "photo n°1", class:"card-item-img" %>
              <% else %>
                <img class="img-item" src="https://res.cloudinary.com/dx8iv40ym/image/upload/v1661785315/pas_d_images_tritoq.png" alt="pas de photo">
              <% end %>
          </div>
            <% end %>
            <div class="info_card_recommandation_show_item">
              <h5><%= item.marque.capitalize %></h5>
              <h6><%= item.taille %></h6>
              <h6><%= item.price %>€</h6>
              <h6><%= item.created_at.strftime("%d/%m/%Y")%></h6>
            </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>

</body>
